cycler==0.10.0
kiwisolver==1.0.1
matplotlib==2.2.2
numpy==1.14.2
Pillow==5.0.0
pkg-resources==0.0.0
pyparsing==2.2.0
python-dateutil==2.7.0
pytz==2018.3
PyYAML==3.12
six==1.11.0

git+https://github.com/ex4sperans/mag
